@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}
button {
  cursor: pointer;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 80%;
  margin: 0 auto;
}
@media (min-width: 1450px) {
  .container {
    width: 1250px;
    margin: 0 auto;
  }
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.07);
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide2 {
  text-align: center;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.svgb {
  filter: invert(1);
}
.menu1 {
  display: flex;
}
.menu1 {
  display: none;
}

@media (max-width: 1155px) {
  .header {
    padding: 10px;
  }
  .header > div {
    flex-direction: column-reverse;
    gap: 40px;
    align-items: start;
  }
  .header_right {
    justify-content: space-between;
  }
  .all_links_header {
    flex-direction: column-reverse;
    gap: 40px;
    align-items: start;
  }
  .header_part {
    flex-direction: column-reverse;
    gap: 40px;
    align-items: start;
  }
}
@media (max-width: 750px) {
  .header_info {
    position: fixed;
    left: -100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: red;
    z-index: 999;
  }
  .menu1 {
    display: block;
  }
  #check1:checked ~ .header_info {
    left: 0;
  }
}
@media (max-width: 1030px) {
  .showcase_cards {
    display: flex;
    /* flex-wrap: nowrap ; */
    overflow-x: auto;
    width: 400px;
    gap: 40px;
    padding: 10px;
    scroll-behavior: smooth;
  }
  .showcase_cards h1 {
    flex-wrap: nowrap;
  }
}
@media (max-width: 555px) {
  .main_link1 p {
    display: none;
  }
}
